[Unit]
Description=Restarter

[Service]
User=ubuntu # this user must have sudo permissions to restart the erigon service
ExecStart=path_to_repo/erigon/serviceRestart.sh 5 serviceName.service "telegram api token" "telegram chat id"
Restart=always

[Install]
WantedBy=multi-user.target
